/* Base reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom properties/variables  */

:root {
  --primary-color: #01b4e4;
  --seconday-color: #0164e4;
  --secondary-color-200: #0d253f;
  --tertiary-color: #90cea1;
  --main-white: #f0f0f0;
  --main-red: #960c0c;
  --main-blue: #45567d;
  --main-gray: #a9c8ec;
  --main-purple: #930cac;
  --main-black: #070303;
  --main-pink: #d418ac;
  --main-green: #3ed418;
  --main-yellow: #c1d418;
}

/* main {
    background-color: #c3dddd;
    background-image: url(/images/world_map-removebg-preview.png);
} */

body {
  height: 80vh;
}

a {
  text-decoration: none;
  position: relative;
  display: block;
}

/* link*/

.link-1 a:before,
.link-1 a:after {
  content: "";
  border-bottom: solid 1px white;
  position: absolute;
  bottom: 0;
  width: 0;
}

.link-1 a:before {
  left: 0;
}

.link-1 a:after {
  right: 0;
}

.link-1 a:hover:before,
.link-1 a:hover:after {
  width: 50%;
}

.link-1 a:before,
.link-1 a:after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-counter {
  width: 100%;
  height: 75%;
  display: inline-block;
  position: relative;
  margin-top: 10%;
  /* margin-bottom: 10%; */
  text-align: center;
}

.box-home {
  width: 100%;
  /* height: 70%; */
  display: inline-block;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.box-about {
  width: 100%;
  /* height: 80%; */
  display: inline-block;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.box-contact {
  background-image: url(/images/world_map-removebg-preview.png);
  width: 100%;
  /* height: 80%; */
  display: inline-block;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.containerr {
  display: flex;
  padding: 15px;
  background-color: #222;
}

.box {
  flex-basis: 100%;
}

.logo {
  font-size: 1.8em;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

nav {
  text-align: right;
  word-spacing: 2em;
  margin-right: 1rem;
}

.nav-band ul li {
  display: inline-block;
  margin: 10px;
}

.nav-band ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
}

.icon-home {
  width: 25px;
}

.btn {
  font-weight: 400;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  margin: 10px;
  padding: 12px;
  border: 1px #222 solid;
  border-radius: 10px;
}

.btn:hover {
  background-color: bisque;
  cursor: pointer;
}

.count1 {
  font-size: 3.5em;
  font-family: "Domine", serif;
  text-align: center;
}

.count {
  font-size: 4em;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.text-center {
  display: flex;
  text-align: center;
  text-indent: 0.5em;
}

/* footer styling */

.footer-logo2 {
  color: #fff;
  cursor: pointer;
}

.footer {
  display: flex;
  padding: 40px;
  background-color: #928f8f;
}

.footer-box2 {
  flex-basis: 100%;
}

.footer .footer-box a:hover {
  cursor: pointer;
}

.copyrht {
  font-style: italic;
  text-align: center;
}

@media (min-width: 375px) {
  .containerr {
    display: flex;
    padding: 15px;
    background-color: #222;
  }

  .nav-band ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
  }

  .footer {
    display: block;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .containerr {
    display: flex;
    padding: 15px;
    background-color: #222;
  }

  .nav-band ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
  }

  .box-counter {
    height: 40vh;
  }

  .footer {
    display: flex;
  }
}
